*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
body{
    background-color: rgb(247, 208, 150);
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #000000b40, 0, 0, 0.705)0, 0, 0, 0.555);
}